body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F8EDE3;
}

p {
  line-height: 2;
}
h1 {
  /*100% = 16px = 1em*/
  color: #256D85;
  font-size: 5rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #256D85;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  margin: 100px auto;
  width: 10%;
}

.profile-pic {
  border-radius: 100px;
  margin-bottom: 3rem;
}

.intro{
  width: 30%;
  margin: auto;
  padding-bottom: 20px;
}

.top-container {
  background-color: #F8EDE3;
  position: relative;
  padding-top: 10px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  padding-top: 30px;
  background-color: #66BFBF;
  height: 100px;
  letter-spacing: 2;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.table, th, td{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1.5rem;
}
.tcs-image{
  border-radius: 100px;
  width: 25%;
  float: right;
  margin-right: 30px;
}

.excel-image {
  border-radius: 100px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.webdev-image {
  border-radius: 100px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.python-image {
  border-radius: 100px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

a {
  color: #256D85;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

td > a{
  margin: 0;
}
td > a:hover {
  color: black;
}

a:hover{
  color: #EAF6F6;
}

.contact-me{
  margin: 100px auto 100px auto;
}


.name{
  padding-top: 20px;
  color: #EAF6F6;
  font-size: 0.75rem;
}


.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
